.vscode/
/app/data/*
task6/llda_results.txt
keeping-it-fresh/
task6/labeled_reviews.txt
task6/data/*
data/*
categories/
~$*
universal_sentence_encoder_large3/
task1/*.txt
task2/*.txt
task1/*/*.txt
task1/*/*/*.txt
task2/*/*.txt
AutoPhrase/
SegPhrase/
bert/
task1/task1PythonTools/bak/
node_modules/
reviews/
reviews-idx/
*.bin
meta/
yelp_dataset_challenge_academic_dataset/
.DS_Store
*.pickle
metapy/
.ipynb_checkpoints/
ceeaus.tar.gz
ceeaus/
chinese_reviews_neg-idx/
chinese_reviews_neg/
chinese_reviews_pos-idx/
chinese_reviews_pos/
mallet-2.0.8/
topicalPhrases/
